.chips_showcase {
    position: relative;
    width: 100%;
    background: radial-gradient(#fff 60%, #ffeaea);
    overflow: hidden;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .chips_container {
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-between;
        gap: clamp(1rem, 2vw, 1.5rem);
    }

    .chip_card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: clamp(0.5rem, 4vw, 4rem);

        @media (max-width:720px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    .chip_item {
        width: 100%;
        max-width: 350px;
        aspect-ratio: 1/1;
        background: radial-gradient(circle, #046daa5d 0%, #046eaa 100%);
        backdrop-filter: blur(100px);
        border-radius: 50%;
        object-fit: contain;
        transition: transform 0.4s ease;
        pointer-events: none;

    }

    .chip_item_1 {
        padding: 1rem;
        background: radial-gradient(circle, #bbc43699 0%, #bbc436 100%);
    }

    .chip_item_2 {
        padding: 1rem;
        background: radial-gradient(circle, #2e984a76 0%, #2e984b 100%);
    }

    .chip_item_3 {
        padding: 1rem;
        background: radial-gradient(circle, #e8a10881 0%, #e8a108 100%);
    }

    .chip_label {
        display: flex;
        flex-direction: column;
        gap: clamp(0.4rem,0.8vw,0.8rem);
        align-items: center;
        font-family: 'Lexend', sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        opacity: 1;
        transition: all 0.3s ease;
        border: none;
        border-radius: 8px;

        h2 {
            font-size: clamp(1.8rem, 4vw, 4rem);
        }

        p {
            color: black;
        }

        .price {
            font-size: clamp(1rem, 2vw, 1.4rem);
            font-weight: 500;
            color: red;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .chip_label_0 {
        color: #046eaa;
    }

    .chip_label_1 {
        color: #bbc436;
    }

    .chip_label_2 {
        color: #2e984b;
    }

    .chip_label_3 {
        color: #e8a108;
    }


    button {
        font-family: "Lexend", sans-serif;
        padding: 0.9rem 2rem;
        background: #e63946;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        width: fit-content;
        transition: 0.3s;

        &:hover {
            background: #d62839;
            transform: translateY(-2px);
        }
    }
}